.pressable-button {
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  
  color: var(--primary-color);
  background-color: var(--amp-text);
  
  border: none;
  border-radius: 8px;
  cursor: pointer;
  
  box-shadow: 0 5px 0 #0284c7; 
  
  transition: all 0.1s ease-in-out;
  position: relative;
  top: 0;
}

.pressable-button:active {
  transform: translateY(5px);
  box-shadow: none;
}

.pressable-button:hover {
  filter: brightness(1.1);
}