section.contact-section {
  background: #0f0f0f;
  color: white;
  padding: 2rem;

  h2 {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 20px
  }

  .contact-item {
    background: #1a1a1a;
    border-radius: 1rem;
    padding: 1rem 1.5rem;
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    box-shadow: 0 0 10px #42774c;
    transition: 0.3s ease-in-out;

    &:hover {
      box-shadow: 0 0 20px #00ff2a;
    }

    .icon {
      font-size: 1.25rem;
      margin-right: 1rem;
      width: 24px;
      text-align: center;
      color: #42774c;
    }

    a {
      color: white;
      text-decoration: none;
      font-size: 1rem;

      &:hover {
        color: #42774c;
      }
    }
  }
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;

    .nav-links {
      width: 100%;
      justify-content: flex-start;
      gap: 1.5rem;
    }
  }
}