section {
  background: #0f0f0f;
  color: white;

  h2 {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 20px
  }

  .skill-card {
    background: #1a1a1a;
    border-radius: 1rem;
    padding: 1.5rem;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(58, 150, 99, 0.1);
    transition: 0.3s ease-in-out;

    &:hover {
      box-shadow: 0 0 20px rgba(30, 58, 40, 0.4);
    }

    .progress-bar {
      background: #333;
      border-radius: 10px;
      height: 10px;
      overflow: hidden;

      .progress-fill {
        background: #42774c;
        height: 100%;
        border-radius: 10px;
      }
    }

    .skill-icon {
      margin-right: 0.5rem;
      color: #42774c;
      font-size: 1.2rem;
      vertical-align: middle;
    }
  }
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;

    .nav-links {
      width: 100%;
      justify-content: flex-start;
      gap: 1.5rem;
    }
  }
}
