.experience-section {
  background-color: #0f0f0f;
  color: #ffffff;
  padding: 60px 20px;
  min-height: 100vh;

  h2 {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 20px
  }

  .experience-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .experience-card {
    background-color: #1a1a1a;
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px #42774c;
    transition: 0.3s ease-in-out;

    &:hover {
      box-shadow: 0 0 20px #00ff2a;
    }

    .company {
      color: #42774c;
      font-size: 1.25rem;
    }

    .role, .duration {
      color: #cccccc;
    }

    .description {
      margin-top: 0.5rem;
    }
  }
}
