.education-section {
  background-color: #0f0f0f;
  color: #ffffff;
  padding: 60px 20px;
  min-height: 100vh;

  h2 {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 20px
  }

  .education-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .education-card {
    background-color: #1a1a1a;
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px #42774c;
    transition: 0.3s ease-in-out;

    &:hover {
      box-shadow: 0 0 20px #00ff2a;
    }

    .institution {
      color: #42774c;
      font-size: 1.25rem;
    }

    .description {
      margin-top: 0.5rem;
    }
  }

  .certificate-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .certificate-card {
    background-color: #1a1a1a;
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px #42774c;
    transition: 0.3s ease-in-out;

    &:hover {
      box-shadow: 0 0 20px #00ff2a;
    }

    .institution {
      color: #42774c;
      font-size: 1.25rem;
    }

    .about {
      margin-top: 0.5rem;
    }
  }
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;

    .nav-links {
      width: 100%;
      justify-content: flex-start;
      gap: 1.5rem;
    }
  }
}
